# java
bin/
*.class

# C and C++
*.out
*.dSYM/

# Text files (Remove this line if you need to keep input text files)
*.txt
tempCodeRunnerFile*
.vscode/

# Python
.venv/
__pycache__/

# macOS
.DS_Store
